/*responsive stateless CSS styles*/
[style*="--m:"]{
	margin: var(--m);
}

[style*="--p:"]{
	padding: var(--p);
}

[style*="--mbs:"]{
	-webkit-margin-before: var(--mbs);
	margin-block-start: var(--mbs);
}

[style*="--mbe:"]{
	-webkit-margin-after: var(--mbe);
	margin-block-end: var(--mbe);
}

[style*="--mis:"]{
	-webkit-margin-start: var(--mis);
	margin-inline-start: var(--mis);
}

[style*="--mie:"]{
	-webkit-margin-end: var(--mie);
	margin-inline-end: var(--mie);
}

[style*="--pbs:"]{
	-webkit-padding-before: var(--pbs);
	padding-block-start: var(--pbs);
}

[style*="--pbe:"]{
	-webkit-padding-after: var(--pbe);
	padding-block-end: var(--pbe);
}

[style*="--pis:"]{
	-webkit-padding-start: var(--pis);
	padding-inline-start: var(--pis);
}

[style*="--pie:"]{
	-webkit-padding-end: var(--pie);
	padding-inline-end: var(--pie);
}

[style*="--bor:"]{
	border: var(--bor);
}

[style*="--bw:"]{
	border-width: var(--bw);
}

[style*="--bs:"]{
	border-style: var(--bs);
}

[style*="--bc:"]{
	border-color: var(--bc);
}

[style*="--br:"]{
	border-radius: var(--br);
}

[style*="--bsh:"]{
	box-shadow: var(--bsh);
}

[style*="--ol:"]{
	outline: var(--ol);
}

[style*="--w:"]{
	width: var(--w);
}

[style*="--h:"]{
	height: var(--h);
}

[style*="--miw:"]{
	min-width: var(--miw);
}

[style*="--mih:"]{
	min-height: var(--mih);
}

[style*="--maw:"]{
	max-width: var(--maw);
}

[style*="--mah:"]{
	max-height: var(--mah);
}

[style*="--ar:"]{
	aspect-ratio: var(--ar);
}

[style*="--d:"]{
	display: var(--d);
}

[style*="--pos:"]{
	position: var(--pos);
}

[style*="--v:"]{
	visibility: var(--v);
}

[style*="--o:"]{
	opacity: var(--o);
}

[style*="--z:"]{
	z-index: var(--z);
}

[style*="--f:"]{
	float: var(--f);
}

[style*="--of:"]{
	overflow: var(--of);
}

[style*="--ox:"]{
	overflow-x: var(--ox);
}

[style*="--oy:"]{
	overflow-y: var(--oy);
}

[style*="--t:"]{
	top: var(--t);
}

[style*="--r:"]{
	right: var(--r);
}

[style*="--b:"]{
	bottom: var(--b);
}

[style*="--l:"]{
	left: var(--l);
}

[style*="--ibs:"]{
	inset-block-start: var(--ibs);
}

[style*="--ibe:"]{
	inset-block-end: var(--ibe);
}

[style*="--iis:"]{
	inset-inline-start: var(--iis);
}

[style*="--iie:"]{
	inset-inline-end: var(--iie);
}

[style*="--c:"]{
	color: var(--c);
}

[style*="--ta:"]{
	text-align: var(--ta);
}

[style*="--tt:"]{
	text-transform: var(--tt);
}

[style*="--td:"]{
	-webkit-text-decoration: var(--td);
	text-decoration: var(--td);
}

[style*="--fs:"]{
	font-size: var(--fs);
}

[style*="--ff:"]{
	font-family: var(--ff);
}

[style*="--fst:"]{
	font-style: var(--fst);
}

[style*="--fw:"]{
	font-weight: var(--fw);
}

[style*="--lh:"]{
	line-height: var(--lh);
}

[style*="--ls:"]{
	letter-spacing: var(--ls);
}

[style*="--ws:"]{
	white-space: var(--ws);
}

[style*="--wb:"]{
	word-break: var(--wb);
}

[style*="--ow:"]{
	overflow-wrap: var(--ow);
}

[style*="--to:"]{
	text-overflow: var(--to);
}

[style*="--dir:"]{
	direction: var(--dir);
}

[style*="--wm:"]{
	-ms-writing-mode: var(--wm);
	writing-mode: var(--wm);
}

[style*="--tor:"]{
	text-orientation: var(--tor);
}

[style*="--fl:"]{
	flex: var(--fl);
}

[style*="--fld:"]{
	flex-direction: var(--fld);
}

[style*="--flw:"]{
	flex-wrap: var(--flw);
}

[style*="--flg:"]{
	flex-grow: var(--flg);
}

[style*="--fls:"]{
	flex-shrink: var(--fls);
}

[style*="--flb:"]{
	flex-basis: var(--flb);
}

[style*="--or:"]{
	order: var(--or);
}

[style*="--jc:"]{
	justify-content: var(--jc);
}

[style*="--js:"]{
	justify-self: var(--js);
}

[style*="--ai:"]{
	align-items: var(--ai);
}

[style*="--ac:"]{
	align-content: var(--ac);
}

[style*="--as:"]{
	align-self: var(--as);
}

[style*="--g:"]{
	gap: var(--g);
}

[style*="--rg:"]{
	row-gap: var(--rg);
}

[style*="--cg:"]{
	column-gap: var(--cg);
}

[style*="--gtc:"]{
	grid-template-columns: var(--gtc);
}

[style*="--gtr:"]{
	grid-template-rows: var(--gtr);
}

[style*="--gta:"]{
	grid-template-areas: var(--gta);
}

[style*="--gac:"]{
	grid-auto-columns: var(--gac);
}

[style*="--gar:"]{
	grid-auto-rows: var(--gar);
}

[style*="--ji:"]{
	justify-items: var(--ji);
}

[style*="--gc:"]{
	grid-column: var(--gc);
}

[style*="--gr:"]{
	grid-row: var(--gr);
}

[style*="--ga:"]{
	grid-area: var(--ga);
}

[style*="--bg:"]{
	background: var(--bg);
}

[style*="--bgc:"]{
	background-color: var(--bgc);
}

[style*="--bgcl:"]{
	background-clip: var(--bgcl);
}

[style*="--bgi:"]{
	background-image: var(--bgi);
}

[style*="--bgp:"]{
	background-position: var(--bgp);
}

[style*="--bga:"]{
	background-attachment: var(--bga);
}

[style*="--bgr:"]{
	background-repeat: var(--bgr);
}

[style*="--bgs:"]{
	background-size: var(--bgs);
}

[style*="--bgb:"]{
	background-blend-mode: var(--bgb);
}

[style*="--tf:"]{
	transform: var(--tf);
}

[style*="--tr:"]{
	transition: var(--tr);
}

[style*="--msk:"]{
	-webkit-mask: var(--msk);
	mask: var(--msk);
}

[style*="--mki:"]{
	-webkit-mask-image: var(--mki);
	mask-image: var(--mki);
}

[style*="--mks:"]{
	-webkit-mask-size: var(--mks);
	mask-size: var(--mks);
}

[style*="--mkr:"]{
	-webkit-mask-repeat: var(--mkr);
	mask-repeat: var(--mkr);
}

[style*="--mco:"]{
	-webkit-mask-composite: var(--mco);
	mask-composite: var(--mco);
}

[style*="--cur:"]{
	cursor: var(--cur);
}

[style*="--pe:"]{
	pointer-events: var(--pe);
}

[style*="--mbm:"]{
	mix-blend-mode: var(--mbm);
}

[style*="--fil:"]{
	filter: var(--fil);
}

[style*="--bfil:"]{
	-webkit-backdrop-filter: var(--bfil);
	backdrop-filter: var(--bfil);
}

[style*="--obf:"]{
	object-fit: var(--obf);
}

[style*="--sst:"]{
	-ms-scroll-snap-type: var(--sst);
	scroll-snap-type: var(--sst);
}

[style*="--ssa:"]{
	scroll-snap-align: var(--ssa);
}

[style*="--scp:"]{
	scroll-padding: var(--scp);
}

[style*="--scm:"]{
	scroll-margin: var(--scm);
}

[style*="--sbw:"]{
	scrollbar-width: var(--sbw);
}

[style*="--sss:"]{
	scroll-snap-stop: var(--sss);
}

[style*="--sbh:"]{
	scroll-behavior: var(--sbh);
}

[style*="--osb:"]{
	-ms-scroll-chaining: var(--osb);
	overscroll-behavior: var(--osb);
}

[style*="--lst:"]{
	list-style: var(--lst);
}

[style*="--olo:"]{
	outline-offset: var(--olo);
}

[style*="--tca:"]{
	touch-action: var(--tca);
}

[style*="--us:"]{
	-webkit-user-select: var(--us);
	-ms-user-select: var(--us);
	user-select: var(--us);
}

@media (max-width: 1399px) {
	[style*="--m-g:"]{
		margin: var(--m-g);
	}

	[style*="--p-g:"]{
		padding: var(--p-g);
	}

	[style*="--mbs-g:"]{
		-webkit-margin-before: var(--mbs-g);
		margin-block-start: var(--mbs-g);
	}

	[style*="--mbe-g:"]{
		-webkit-margin-after: var(--mbe-g);
		margin-block-end: var(--mbe-g);
	}

	[style*="--mis-g:"]{
		-webkit-margin-start: var(--mis-g);
		margin-inline-start: var(--mis-g);
	}

	[style*="--mie-g:"]{
		-webkit-margin-end: var(--mie-g);
		margin-inline-end: var(--mie-g);
	}

	[style*="--pbs-g:"]{
		-webkit-padding-before: var(--pbs-g);
		padding-block-start: var(--pbs-g);
	}

	[style*="--pbe-g:"]{
		-webkit-padding-after: var(--pbe-g);
		padding-block-end: var(--pbe-g);
	}

	[style*="--pis-g:"]{
		-webkit-padding-start: var(--pis-g);
		padding-inline-start: var(--pis-g);
	}

	[style*="--pie-g:"]{
		-webkit-padding-end: var(--pie-g);
		padding-inline-end: var(--pie-g);
	}

	[style*="--bor-g:"]{
		border: var(--bor-g);
	}

	[style*="--bw-g:"]{
		border-width: var(--bw-g);
	}

	[style*="--bs-g:"]{
		border-style: var(--bs-g);
	}

	[style*="--bc-g:"]{
		border-color: var(--bc-g);
	}

	[style*="--br-g:"]{
		border-radius: var(--br-g);
	}

	[style*="--bsh-g:"]{
		box-shadow: var(--bsh-g);
	}

	[style*="--ol-g:"]{
		outline: var(--ol-g);
	}

	[style*="--w-g:"]{
		width: var(--w-g);
	}

	[style*="--h-g:"]{
		height: var(--h-g);
	}

	[style*="--miw-g:"]{
		min-width: var(--miw-g);
	}

	[style*="--mih-g:"]{
		min-height: var(--mih-g);
	}

	[style*="--maw-g:"]{
		max-width: var(--maw-g);
	}

	[style*="--mah-g:"]{
		max-height: var(--mah-g);
	}

	[style*="--ar-g:"]{
		aspect-ratio: var(--ar-g);
	}

	[style*="--d-g:"]{
		display: var(--d-g);
	}

	[style*="--pos-g:"]{
		position: var(--pos-g);
	}

	[style*="--v-g:"]{
		visibility: var(--v-g);
	}

	[style*="--o-g:"]{
		opacity: var(--o-g);
	}

	[style*="--z-g:"]{
		z-index: var(--z-g);
	}

	[style*="--f-g:"]{
		float: var(--f-g);
	}

	[style*="--of-g:"]{
		overflow: var(--of-g);
	}

	[style*="--ox-g:"]{
		overflow-x: var(--ox-g);
	}

	[style*="--oy-g:"]{
		overflow-y: var(--oy-g);
	}

	[style*="--t-g:"]{
		top: var(--t-g);
	}

	[style*="--r-g:"]{
		right: var(--r-g);
	}

	[style*="--b-g:"]{
		bottom: var(--b-g);
	}

	[style*="--l-g:"]{
		left: var(--l-g);
	}

	[style*="--ibs-g:"]{
		inset-block-start: var(--ibs-g);
	}

	[style*="--ibe-g:"]{
		inset-block-end: var(--ibe-g);
	}

	[style*="--iis-g:"]{
		inset-inline-start: var(--iis-g);
	}

	[style*="--iie-g:"]{
		inset-inline-end: var(--iie-g);
	}

	[style*="--c-g:"]{
		color: var(--c-g);
	}

	[style*="--ta-g:"]{
		text-align: var(--ta-g);
	}

	[style*="--tt-g:"]{
		text-transform: var(--tt-g);
	}

	[style*="--td-g:"]{
		-webkit-text-decoration: var(--td-g);
		text-decoration: var(--td-g);
	}

	[style*="--fs-g:"]{
		font-size: var(--fs-g);
	}

	[style*="--ff-g:"]{
		font-family: var(--ff-g);
	}

	[style*="--fst-g:"]{
		font-style: var(--fst-g);
	}

	[style*="--fw-g:"]{
		font-weight: var(--fw-g);
	}

	[style*="--lh-g:"]{
		line-height: var(--lh-g);
	}

	[style*="--ls-g:"]{
		letter-spacing: var(--ls-g);
	}

	[style*="--ws-g:"]{
		white-space: var(--ws-g);
	}

	[style*="--wb-g:"]{
		word-break: var(--wb-g);
	}

	[style*="--ow-g:"]{
		overflow-wrap: var(--ow-g);
	}

	[style*="--to-g:"]{
		text-overflow: var(--to-g);
	}

	[style*="--dir-g:"]{
		direction: var(--dir-g);
	}

	[style*="--wm-g:"]{
		-ms-writing-mode: var(--wm-g);
		writing-mode: var(--wm-g);
	}

	[style*="--tor-g:"]{
		text-orientation: var(--tor-g);
	}

	[style*="--fl-g:"]{
		flex: var(--fl-g);
	}

	[style*="--fld-g:"]{
		flex-direction: var(--fld-g);
	}

	[style*="--flw-g:"]{
		flex-wrap: var(--flw-g);
	}

	[style*="--flg-g:"]{
		flex-grow: var(--flg-g);
	}

	[style*="--fls-g:"]{
		flex-shrink: var(--fls-g);
	}

	[style*="--flb-g:"]{
		flex-basis: var(--flb-g);
	}

	[style*="--or-g:"]{
		order: var(--or-g);
	}

	[style*="--jc-g:"]{
		justify-content: var(--jc-g);
	}

	[style*="--js-g:"]{
		justify-self: var(--js-g);
	}

	[style*="--ai-g:"]{
		align-items: var(--ai-g);
	}

	[style*="--ac-g:"]{
		align-content: var(--ac-g);
	}

	[style*="--as-g:"]{
		align-self: var(--as-g);
	}

	[style*="--g-g:"]{
		gap: var(--g-g);
	}

	[style*="--rg-g:"]{
		row-gap: var(--rg-g);
	}

	[style*="--cg-g:"]{
		column-gap: var(--cg-g);
	}

	[style*="--gtc-g:"]{
		grid-template-columns: var(--gtc-g);
	}

	[style*="--gtr-g:"]{
		grid-template-rows: var(--gtr-g);
	}

	[style*="--gta-g:"]{
		grid-template-areas: var(--gta-g);
	}

	[style*="--gac-g:"]{
		grid-auto-columns: var(--gac-g);
	}

	[style*="--gar-g:"]{
		grid-auto-rows: var(--gar-g);
	}

	[style*="--ji-g:"]{
		justify-items: var(--ji-g);
	}

	[style*="--gc-g:"]{
		grid-column: var(--gc-g);
	}

	[style*="--gr-g:"]{
		grid-row: var(--gr-g);
	}

	[style*="--ga-g:"]{
		grid-area: var(--ga-g);
	}

	[style*="--bg-g:"]{
		background: var(--bg-g);
	}

	[style*="--bgc-g:"]{
		background-color: var(--bgc-g);
	}

	[style*="--bgcl-g:"]{
		background-clip: var(--bgcl-g);
	}

	[style*="--bgi-g:"]{
		background-image: var(--bgi-g);
	}

	[style*="--bgp-g:"]{
		background-position: var(--bgp-g);
	}

	[style*="--bga-g:"]{
		background-attachment: var(--bga-g);
	}

	[style*="--bgr-g:"]{
		background-repeat: var(--bgr-g);
	}

	[style*="--bgs-g:"]{
		background-size: var(--bgs-g);
	}

	[style*="--bgb-g:"]{
		background-blend-mode: var(--bgb-g);
	}

	[style*="--tf-g:"]{
		transform: var(--tf-g);
	}

	[style*="--tr-g:"]{
		transition: var(--tr-g);
	}

	[style*="--msk-g:"]{
		-webkit-mask: var(--msk-g);
		mask: var(--msk-g);
	}

	[style*="--mki-g:"]{
		-webkit-mask-image: var(--mki-g);
		mask-image: var(--mki-g);
	}

	[style*="--mks-g:"]{
		-webkit-mask-size: var(--mks-g);
		mask-size: var(--mks-g);
	}

	[style*="--mkr-g:"]{
		-webkit-mask-repeat: var(--mkr-g);
		mask-repeat: var(--mkr-g);
	}

	[style*="--mco-g:"]{
		-webkit-mask-composite: var(--mco-g);
		mask-composite: var(--mco-g);
	}

	[style*="--cur-g:"]{
		cursor: var(--cur-g);
	}

	[style*="--pe-g:"]{
		pointer-events: var(--pe-g);
	}

	[style*="--mbm-g:"]{
		mix-blend-mode: var(--mbm-g);
	}

	[style*="--fil-g:"]{
		filter: var(--fil-g);
	}

	[style*="--bfil-g:"]{
		-webkit-backdrop-filter: var(--bfil-g);
		backdrop-filter: var(--bfil-g);
	}

	[style*="--obf-g:"]{
		object-fit: var(--obf-g);
	}

	[style*="--sst-g:"]{
		-ms-scroll-snap-type: var(--sst-g);
		scroll-snap-type: var(--sst-g);
	}

	[style*="--ssa-g:"]{
		scroll-snap-align: var(--ssa-g);
	}

	[style*="--scp-g:"]{
		scroll-padding: var(--scp-g);
	}

	[style*="--scm-g:"]{
		scroll-margin: var(--scm-g);
	}

	[style*="--sbw-g:"]{
		scrollbar-width: var(--sbw-g);
	}
}

@media (max-width: 1199px) {
	[style*="--m-x:"]{
		margin: var(--m-x);
	}

	[style*="--p-x:"]{
		padding: var(--p-x);
	}

	[style*="--mbs-x:"]{
		-webkit-margin-before: var(--mbs-x);
		margin-block-start: var(--mbs-x);
	}

	[style*="--mbe-x:"]{
		-webkit-margin-after: var(--mbe-x);
		margin-block-end: var(--mbe-x);
	}

	[style*="--mis-x:"]{
		-webkit-margin-start: var(--mis-x);
		margin-inline-start: var(--mis-x);
	}

	[style*="--mie-x:"]{
		-webkit-margin-end: var(--mie-x);
		margin-inline-end: var(--mie-x);
	}

	[style*="--pbs-x:"]{
		-webkit-padding-before: var(--pbs-x);
		padding-block-start: var(--pbs-x);
	}

	[style*="--pbe-x:"]{
		-webkit-padding-after: var(--pbe-x);
		padding-block-end: var(--pbe-x);
	}

	[style*="--pis-x:"]{
		-webkit-padding-start: var(--pis-x);
		padding-inline-start: var(--pis-x);
	}

	[style*="--pie-x:"]{
		-webkit-padding-end: var(--pie-x);
		padding-inline-end: var(--pie-x);
	}

	[style*="--bor-x:"]{
		border: var(--bor-x);
	}

	[style*="--bw-x:"]{
		border-width: var(--bw-x);
	}

	[style*="--bs-x:"]{
		border-style: var(--bs-x);
	}

	[style*="--bc-x:"]{
		border-color: var(--bc-x);
	}

	[style*="--br-x:"]{
		border-radius: var(--br-x);
	}

	[style*="--bsh-x:"]{
		box-shadow: var(--bsh-x);
	}

	[style*="--ol-x:"]{
		outline: var(--ol-x);
	}

	[style*="--w-x:"]{
		width: var(--w-x);
	}

	[style*="--h-x:"]{
		height: var(--h-x);
	}

	[style*="--miw-x:"]{
		min-width: var(--miw-x);
	}

	[style*="--mih-x:"]{
		min-height: var(--mih-x);
	}

	[style*="--maw-x:"]{
		max-width: var(--maw-x);
	}

	[style*="--mah-x:"]{
		max-height: var(--mah-x);
	}

	[style*="--ar-x:"]{
		aspect-ratio: var(--ar-x);
	}

	[style*="--d-x:"]{
		display: var(--d-x);
	}

	[style*="--pos-x:"]{
		position: var(--pos-x);
	}

	[style*="--v-x:"]{
		visibility: var(--v-x);
	}

	[style*="--o-x:"]{
		opacity: var(--o-x);
	}

	[style*="--z-x:"]{
		z-index: var(--z-x);
	}

	[style*="--f-x:"]{
		float: var(--f-x);
	}

	[style*="--of-x:"]{
		overflow: var(--of-x);
	}

	[style*="--ox-x:"]{
		overflow-x: var(--ox-x);
	}

	[style*="--oy-x:"]{
		overflow-y: var(--oy-x);
	}

	[style*="--t-x:"]{
		top: var(--t-x);
	}

	[style*="--r-x:"]{
		right: var(--r-x);
	}

	[style*="--b-x:"]{
		bottom: var(--b-x);
	}

	[style*="--l-x:"]{
		left: var(--l-x);
	}

	[style*="--ibs-x:"]{
		inset-block-start: var(--ibs-x);
	}

	[style*="--ibe-x:"]{
		inset-block-end: var(--ibe-x);
	}

	[style*="--iis-x:"]{
		inset-inline-start: var(--iis-x);
	}

	[style*="--iie-x:"]{
		inset-inline-end: var(--iie-x);
	}

	[style*="--c-x:"]{
		color: var(--c-x);
	}

	[style*="--ta-x:"]{
		text-align: var(--ta-x);
	}

	[style*="--tt-x:"]{
		text-transform: var(--tt-x);
	}

	[style*="--td-x:"]{
		-webkit-text-decoration: var(--td-x);
		text-decoration: var(--td-x);
	}

	[style*="--fs-x:"]{
		font-size: var(--fs-x);
	}

	[style*="--ff-x:"]{
		font-family: var(--ff-x);
	}

	[style*="--fst-x:"]{
		font-style: var(--fst-x);
	}

	[style*="--fw-x:"]{
		font-weight: var(--fw-x);
	}

	[style*="--lh-x:"]{
		line-height: var(--lh-x);
	}

	[style*="--ls-x:"]{
		letter-spacing: var(--ls-x);
	}

	[style*="--ws-x:"]{
		white-space: var(--ws-x);
	}

	[style*="--wb-x:"]{
		word-break: var(--wb-x);
	}

	[style*="--ow-x:"]{
		overflow-wrap: var(--ow-x);
	}

	[style*="--to-x:"]{
		text-overflow: var(--to-x);
	}

	[style*="--dir-x:"]{
		direction: var(--dir-x);
	}

	[style*="--wm-x:"]{
		-ms-writing-mode: var(--wm-x);
		writing-mode: var(--wm-x);
	}

	[style*="--tor-x:"]{
		text-orientation: var(--tor-x);
	}

	[style*="--fl-x:"]{
		flex: var(--fl-x);
	}

	[style*="--fld-x:"]{
		flex-direction: var(--fld-x);
	}

	[style*="--flw-x:"]{
		flex-wrap: var(--flw-x);
	}

	[style*="--flg-x:"]{
		flex-grow: var(--flg-x);
	}

	[style*="--fls-x:"]{
		flex-shrink: var(--fls-x);
	}

	[style*="--flb-x:"]{
		flex-basis: var(--flb-x);
	}

	[style*="--or-x:"]{
		order: var(--or-x);
	}

	[style*="--jc-x:"]{
		justify-content: var(--jc-x);
	}

	[style*="--js-x:"]{
		justify-self: var(--js-x);
	}

	[style*="--ai-x:"]{
		align-items: var(--ai-x);
	}

	[style*="--ac-x:"]{
		align-content: var(--ac-x);
	}

	[style*="--as-x:"]{
		align-self: var(--as-x);
	}

	[style*="--g-x:"]{
		gap: var(--g-x);
	}

	[style*="--rg-x:"]{
		row-gap: var(--rg-x);
	}

	[style*="--cg-x:"]{
		column-gap: var(--cg-x);
	}

	[style*="--gtc-x:"]{
		grid-template-columns: var(--gtc-x);
	}

	[style*="--gtr-x:"]{
		grid-template-rows: var(--gtr-x);
	}

	[style*="--gta-x:"]{
		grid-template-areas: var(--gta-x);
	}

	[style*="--gac-x:"]{
		grid-auto-columns: var(--gac-x);
	}

	[style*="--gar-x:"]{
		grid-auto-rows: var(--gar-x);
	}

	[style*="--ji-x:"]{
		justify-items: var(--ji-x);
	}

	[style*="--gc-x:"]{
		grid-column: var(--gc-x);
	}

	[style*="--gr-x:"]{
		grid-row: var(--gr-x);
	}

	[style*="--ga-x:"]{
		grid-area: var(--ga-x);
	}

	[style*="--bg-x:"]{
		background: var(--bg-x);
	}

	[style*="--bgc-x:"]{
		background-color: var(--bgc-x);
	}

	[style*="--bgcl-x:"]{
		background-clip: var(--bgcl-x);
	}

	[style*="--bgi-x:"]{
		background-image: var(--bgi-x);
	}

	[style*="--bgp-x:"]{
		background-position: var(--bgp-x);
	}

	[style*="--bga-x:"]{
		background-attachment: var(--bga-x);
	}

	[style*="--bgr-x:"]{
		background-repeat: var(--bgr-x);
	}

	[style*="--bgs-x:"]{
		background-size: var(--bgs-x);
	}

	[style*="--bgb-x:"]{
		background-blend-mode: var(--bgb-x);
	}

	[style*="--tf-x:"]{
		transform: var(--tf-x);
	}

	[style*="--tr-x:"]{
		transition: var(--tr-x);
	}

	[style*="--msk-x:"]{
		-webkit-mask: var(--msk-x);
		mask: var(--msk-x);
	}

	[style*="--mki-x:"]{
		-webkit-mask-image: var(--mki-x);
		mask-image: var(--mki-x);
	}

	[style*="--mks-x:"]{
		-webkit-mask-size: var(--mks-x);
		mask-size: var(--mks-x);
	}

	[style*="--mkr-x:"]{
		-webkit-mask-repeat: var(--mkr-x);
		mask-repeat: var(--mkr-x);
	}

	[style*="--mco-x:"]{
		-webkit-mask-composite: var(--mco-x);
		mask-composite: var(--mco-x);
	}

	[style*="--cur-x:"]{
		cursor: var(--cur-x);
	}

	[style*="--pe-x:"]{
		pointer-events: var(--pe-x);
	}

	[style*="--mbm-x:"]{
		mix-blend-mode: var(--mbm-x);
	}

	[style*="--fil-x:"]{
		filter: var(--fil-x);
	}

	[style*="--bfil-x:"]{
		-webkit-backdrop-filter: var(--bfil-x);
		backdrop-filter: var(--bfil-x);
	}

	[style*="--obf-x:"]{
		object-fit: var(--obf-x);
	}

	[style*="--sst-x:"]{
		-ms-scroll-snap-type: var(--sst-x);
		scroll-snap-type: var(--sst-x);
	}

	[style*="--ssa-x:"]{
		scroll-snap-align: var(--ssa-x);
	}

	[style*="--scp-x:"]{
		scroll-padding: var(--scp-x);
	}

	[style*="--scm-x:"]{
		scroll-margin: var(--scm-x);
	}

	[style*="--sbw-x:"]{
		scrollbar-width: var(--sbw-x);
	}
}

@media (max-width: 991px) {
	[style*="--m-l:"]{
		margin: var(--m-l);
	}

	[style*="--p-l:"]{
		padding: var(--p-l);
	}

	[style*="--mbs-l:"]{
		-webkit-margin-before: var(--mbs-l);
		margin-block-start: var(--mbs-l);
	}

	[style*="--mbe-l:"]{
		-webkit-margin-after: var(--mbe-l);
		margin-block-end: var(--mbe-l);
	}

	[style*="--mis-l:"]{
		-webkit-margin-start: var(--mis-l);
		margin-inline-start: var(--mis-l);
	}

	[style*="--mie-l:"]{
		-webkit-margin-end: var(--mie-l);
		margin-inline-end: var(--mie-l);
	}

	[style*="--pbs-l:"]{
		-webkit-padding-before: var(--pbs-l);
		padding-block-start: var(--pbs-l);
	}

	[style*="--pbe-l:"]{
		-webkit-padding-after: var(--pbe-l);
		padding-block-end: var(--pbe-l);
	}

	[style*="--pis-l:"]{
		-webkit-padding-start: var(--pis-l);
		padding-inline-start: var(--pis-l);
	}

	[style*="--pie-l:"]{
		-webkit-padding-end: var(--pie-l);
		padding-inline-end: var(--pie-l);
	}

	[style*="--bor-l:"]{
		border: var(--bor-l);
	}

	[style*="--bw-l:"]{
		border-width: var(--bw-l);
	}

	[style*="--bs-l:"]{
		border-style: var(--bs-l);
	}

	[style*="--bc-l:"]{
		border-color: var(--bc-l);
	}

	[style*="--br-l:"]{
		border-radius: var(--br-l);
	}

	[style*="--bsh-l:"]{
		box-shadow: var(--bsh-l);
	}

	[style*="--ol-l:"]{
		outline: var(--ol-l);
	}

	[style*="--w-l:"]{
		width: var(--w-l);
	}

	[style*="--h-l:"]{
		height: var(--h-l);
	}

	[style*="--miw-l:"]{
		min-width: var(--miw-l);
	}

	[style*="--mih-l:"]{
		min-height: var(--mih-l);
	}

	[style*="--maw-l:"]{
		max-width: var(--maw-l);
	}

	[style*="--mah-l:"]{
		max-height: var(--mah-l);
	}

	[style*="--ar-l:"]{
		aspect-ratio: var(--ar-l);
	}

	[style*="--d-l:"]{
		display: var(--d-l);
	}

	[style*="--pos-l:"]{
		position: var(--pos-l);
	}

	[style*="--v-l:"]{
		visibility: var(--v-l);
	}

	[style*="--o-l:"]{
		opacity: var(--o-l);
	}

	[style*="--z-l:"]{
		z-index: var(--z-l);
	}

	[style*="--f-l:"]{
		float: var(--f-l);
	}

	[style*="--of-l:"]{
		overflow: var(--of-l);
	}

	[style*="--ox-l:"]{
		overflow-x: var(--ox-l);
	}

	[style*="--oy-l:"]{
		overflow-y: var(--oy-l);
	}

	[style*="--t-l:"]{
		top: var(--t-l);
	}

	[style*="--r-l:"]{
		right: var(--r-l);
	}

	[style*="--b-l:"]{
		bottom: var(--b-l);
	}

	[style*="--l-l:"]{
		left: var(--l-l);
	}

	[style*="--ibs-l:"]{
		inset-block-start: var(--ibs-l);
	}

	[style*="--ibe-l:"]{
		inset-block-end: var(--ibe-l);
	}

	[style*="--iis-l:"]{
		inset-inline-start: var(--iis-l);
	}

	[style*="--iie-l:"]{
		inset-inline-end: var(--iie-l);
	}

	[style*="--c-l:"]{
		color: var(--c-l);
	}

	[style*="--ta-l:"]{
		text-align: var(--ta-l);
	}

	[style*="--tt-l:"]{
		text-transform: var(--tt-l);
	}

	[style*="--td-l:"]{
		-webkit-text-decoration: var(--td-l);
		text-decoration: var(--td-l);
	}

	[style*="--fs-l:"]{
		font-size: var(--fs-l);
	}

	[style*="--ff-l:"]{
		font-family: var(--ff-l);
	}

	[style*="--fst-l:"]{
		font-style: var(--fst-l);
	}

	[style*="--fw-l:"]{
		font-weight: var(--fw-l);
	}

	[style*="--lh-l:"]{
		line-height: var(--lh-l);
	}

	[style*="--ls-l:"]{
		letter-spacing: var(--ls-l);
	}

	[style*="--ws-l:"]{
		white-space: var(--ws-l);
	}

	[style*="--wb-l:"]{
		word-break: var(--wb-l);
	}

	[style*="--ow-l:"]{
		overflow-wrap: var(--ow-l);
	}

	[style*="--to-l:"]{
		text-overflow: var(--to-l);
	}

	[style*="--dir-l:"]{
		direction: var(--dir-l);
	}

	[style*="--wm-l:"]{
		-ms-writing-mode: var(--wm-l);
		writing-mode: var(--wm-l);
	}

	[style*="--tor-l:"]{
		text-orientation: var(--tor-l);
	}

	[style*="--fl-l:"]{
		flex: var(--fl-l);
	}

	[style*="--fld-l:"]{
		flex-direction: var(--fld-l);
	}

	[style*="--flw-l:"]{
		flex-wrap: var(--flw-l);
	}

	[style*="--flg-l:"]{
		flex-grow: var(--flg-l);
	}

	[style*="--fls-l:"]{
		flex-shrink: var(--fls-l);
	}

	[style*="--flb-l:"]{
		flex-basis: var(--flb-l);
	}

	[style*="--or-l:"]{
		order: var(--or-l);
	}

	[style*="--jc-l:"]{
		justify-content: var(--jc-l);
	}

	[style*="--js-l:"]{
		justify-self: var(--js-l);
	}

	[style*="--ai-l:"]{
		align-items: var(--ai-l);
	}

	[style*="--ac-l:"]{
		align-content: var(--ac-l);
	}

	[style*="--as-l:"]{
		align-self: var(--as-l);
	}

	[style*="--g-l:"]{
		gap: var(--g-l);
	}

	[style*="--rg-l:"]{
		row-gap: var(--rg-l);
	}

	[style*="--cg-l:"]{
		column-gap: var(--cg-l);
	}

	[style*="--gtc-l:"]{
		grid-template-columns: var(--gtc-l);
	}

	[style*="--gtr-l:"]{
		grid-template-rows: var(--gtr-l);
	}

	[style*="--gta-l:"]{
		grid-template-areas: var(--gta-l);
	}

	[style*="--gac-l:"]{
		grid-auto-columns: var(--gac-l);
	}

	[style*="--gar-l:"]{
		grid-auto-rows: var(--gar-l);
	}

	[style*="--ji-l:"]{
		justify-items: var(--ji-l);
	}

	[style*="--gc-l:"]{
		grid-column: var(--gc-l);
	}

	[style*="--gr-l:"]{
		grid-row: var(--gr-l);
	}

	[style*="--ga-l:"]{
		grid-area: var(--ga-l);
	}

	[style*="--bg-l:"]{
		background: var(--bg-l);
	}

	[style*="--bgc-l:"]{
		background-color: var(--bgc-l);
	}

	[style*="--bgcl-l:"]{
		background-clip: var(--bgcl-l);
	}

	[style*="--bgi-l:"]{
		background-image: var(--bgi-l);
	}

	[style*="--bgp-l:"]{
		background-position: var(--bgp-l);
	}

	[style*="--bga-l:"]{
		background-attachment: var(--bga-l);
	}

	[style*="--bgr-l:"]{
		background-repeat: var(--bgr-l);
	}

	[style*="--bgs-l:"]{
		background-size: var(--bgs-l);
	}

	[style*="--bgb-l:"]{
		background-blend-mode: var(--bgb-l);
	}

	[style*="--tf-l:"]{
		transform: var(--tf-l);
	}

	[style*="--tr-l:"]{
		transition: var(--tr-l);
	}

	[style*="--msk-l:"]{
		-webkit-mask: var(--msk-l);
		mask: var(--msk-l);
	}

	[style*="--mki-l:"]{
		-webkit-mask-image: var(--mki-l);
		mask-image: var(--mki-l);
	}

	[style*="--mks-l:"]{
		-webkit-mask-size: var(--mks-l);
		mask-size: var(--mks-l);
	}

	[style*="--mkr-l:"]{
		-webkit-mask-repeat: var(--mkr-l);
		mask-repeat: var(--mkr-l);
	}

	[style*="--mco-l:"]{
		-webkit-mask-composite: var(--mco-l);
		mask-composite: var(--mco-l);
	}

	[style*="--cur-l:"]{
		cursor: var(--cur-l);
	}

	[style*="--pe-l:"]{
		pointer-events: var(--pe-l);
	}

	[style*="--mbm-l:"]{
		mix-blend-mode: var(--mbm-l);
	}

	[style*="--fil-l:"]{
		filter: var(--fil-l);
	}

	[style*="--bfil-l:"]{
		-webkit-backdrop-filter: var(--bfil-l);
		backdrop-filter: var(--bfil-l);
	}

	[style*="--obf-l:"]{
		object-fit: var(--obf-l);
	}

	[style*="--sst-l:"]{
		-ms-scroll-snap-type: var(--sst-l);
		scroll-snap-type: var(--sst-l);
	}

	[style*="--ssa-l:"]{
		scroll-snap-align: var(--ssa-l);
	}

	[style*="--scp-l:"]{
		scroll-padding: var(--scp-l);
	}

	[style*="--scm-l:"]{
		scroll-margin: var(--scm-l);
	}

	[style*="--sbw-l:"]{
		scrollbar-width: var(--sbw-l);
	}
}

@media (max-width: 767px) {
	[style*="--m-m:"]{
		margin: var(--m-m);
	}

	[style*="--p-m:"]{
		padding: var(--p-m);
	}

	[style*="--mbs-m:"]{
		-webkit-margin-before: var(--mbs-m);
		margin-block-start: var(--mbs-m);
	}

	[style*="--mbe-m:"]{
		-webkit-margin-after: var(--mbe-m);
		margin-block-end: var(--mbe-m);
	}

	[style*="--mis-m:"]{
		-webkit-margin-start: var(--mis-m);
		margin-inline-start: var(--mis-m);
	}

	[style*="--mie-m:"]{
		-webkit-margin-end: var(--mie-m);
		margin-inline-end: var(--mie-m);
	}

	[style*="--pbs-m:"]{
		-webkit-padding-before: var(--pbs-m);
		padding-block-start: var(--pbs-m);
	}

	[style*="--pbe-m:"]{
		-webkit-padding-after: var(--pbe-m);
		padding-block-end: var(--pbe-m);
	}

	[style*="--pis-m:"]{
		-webkit-padding-start: var(--pis-m);
		padding-inline-start: var(--pis-m);
	}

	[style*="--pie-m:"]{
		-webkit-padding-end: var(--pie-m);
		padding-inline-end: var(--pie-m);
	}

	[style*="--bor-m:"]{
		border: var(--bor-m);
	}

	[style*="--bw-m:"]{
		border-width: var(--bw-m);
	}

	[style*="--bs-m:"]{
		border-style: var(--bs-m);
	}

	[style*="--bc-m:"]{
		border-color: var(--bc-m);
	}

	[style*="--br-m:"]{
		border-radius: var(--br-m);
	}

	[style*="--bsh-m:"]{
		box-shadow: var(--bsh-m);
	}

	[style*="--ol-m:"]{
		outline: var(--ol-m);
	}

	[style*="--w-m:"]{
		width: var(--w-m);
	}

	[style*="--h-m:"]{
		height: var(--h-m);
	}

	[style*="--miw-m:"]{
		min-width: var(--miw-m);
	}

	[style*="--mih-m:"]{
		min-height: var(--mih-m);
	}

	[style*="--maw-m:"]{
		max-width: var(--maw-m);
	}

	[style*="--mah-m:"]{
		max-height: var(--mah-m);
	}

	[style*="--ar-m:"]{
		aspect-ratio: var(--ar-m);
	}

	[style*="--d-m:"]{
		display: var(--d-m);
	}

	[style*="--pos-m:"]{
		position: var(--pos-m);
	}

	[style*="--v-m:"]{
		visibility: var(--v-m);
	}

	[style*="--o-m:"]{
		opacity: var(--o-m);
	}

	[style*="--z-m:"]{
		z-index: var(--z-m);
	}

	[style*="--f-m:"]{
		float: var(--f-m);
	}

	[style*="--of-m:"]{
		overflow: var(--of-m);
	}

	[style*="--ox-m:"]{
		overflow-x: var(--ox-m);
	}

	[style*="--oy-m:"]{
		overflow-y: var(--oy-m);
	}

	[style*="--t-m:"]{
		top: var(--t-m);
	}

	[style*="--r-m:"]{
		right: var(--r-m);
	}

	[style*="--b-m:"]{
		bottom: var(--b-m);
	}

	[style*="--l-m:"]{
		left: var(--l-m);
	}

	[style*="--ibs-m:"]{
		inset-block-start: var(--ibs-m);
	}

	[style*="--ibe-m:"]{
		inset-block-end: var(--ibe-m);
	}

	[style*="--iis-m:"]{
		inset-inline-start: var(--iis-m);
	}

	[style*="--iie-m:"]{
		inset-inline-end: var(--iie-m);
	}

	[style*="--c-m:"]{
		color: var(--c-m);
	}

	[style*="--ta-m:"]{
		text-align: var(--ta-m);
	}

	[style*="--tt-m:"]{
		text-transform: var(--tt-m);
	}

	[style*="--td-m:"]{
		-webkit-text-decoration: var(--td-m);
		text-decoration: var(--td-m);
	}

	[style*="--fs-m:"]{
		font-size: var(--fs-m);
	}

	[style*="--ff-m:"]{
		font-family: var(--ff-m);
	}

	[style*="--fst-m:"]{
		font-style: var(--fst-m);
	}

	[style*="--fw-m:"]{
		font-weight: var(--fw-m);
	}

	[style*="--lh-m:"]{
		line-height: var(--lh-m);
	}

	[style*="--ls-m:"]{
		letter-spacing: var(--ls-m);
	}

	[style*="--ws-m:"]{
		white-space: var(--ws-m);
	}

	[style*="--wb-m:"]{
		word-break: var(--wb-m);
	}

	[style*="--ow-m:"]{
		overflow-wrap: var(--ow-m);
	}

	[style*="--to-m:"]{
		text-overflow: var(--to-m);
	}

	[style*="--dir-m:"]{
		direction: var(--dir-m);
	}

	[style*="--wm-m:"]{
		-ms-writing-mode: var(--wm-m);
		writing-mode: var(--wm-m);
	}

	[style*="--tor-m:"]{
		text-orientation: var(--tor-m);
	}

	[style*="--fl-m:"]{
		flex: var(--fl-m);
	}

	[style*="--fld-m:"]{
		flex-direction: var(--fld-m);
	}

	[style*="--flw-m:"]{
		flex-wrap: var(--flw-m);
	}

	[style*="--flg-m:"]{
		flex-grow: var(--flg-m);
	}

	[style*="--fls-m:"]{
		flex-shrink: var(--fls-m);
	}

	[style*="--flb-m:"]{
		flex-basis: var(--flb-m);
	}

	[style*="--or-m:"]{
		order: var(--or-m);
	}

	[style*="--jc-m:"]{
		justify-content: var(--jc-m);
	}

	[style*="--js-m:"]{
		justify-self: var(--js-m);
	}

	[style*="--ai-m:"]{
		align-items: var(--ai-m);
	}

	[style*="--ac-m:"]{
		align-content: var(--ac-m);
	}

	[style*="--as-m:"]{
		align-self: var(--as-m);
	}

	[style*="--g-m:"]{
		gap: var(--g-m);
	}

	[style*="--rg-m:"]{
		row-gap: var(--rg-m);
	}

	[style*="--cg-m:"]{
		column-gap: var(--cg-m);
	}

	[style*="--gtc-m:"]{
		grid-template-columns: var(--gtc-m);
	}

	[style*="--gtr-m:"]{
		grid-template-rows: var(--gtr-m);
	}

	[style*="--gta-m:"]{
		grid-template-areas: var(--gta-m);
	}

	[style*="--gac-m:"]{
		grid-auto-columns: var(--gac-m);
	}

	[style*="--gar-m:"]{
		grid-auto-rows: var(--gar-m);
	}

	[style*="--ji-m:"]{
		justify-items: var(--ji-m);
	}

	[style*="--gc-m:"]{
		grid-column: var(--gc-m);
	}

	[style*="--gr-m:"]{
		grid-row: var(--gr-m);
	}

	[style*="--ga-m:"]{
		grid-area: var(--ga-m);
	}

	[style*="--bg-m:"]{
		background: var(--bg-m);
	}

	[style*="--bgc-m:"]{
		background-color: var(--bgc-m);
	}

	[style*="--bgcl-m:"]{
		background-clip: var(--bgcl-m);
	}

	[style*="--bgi-m:"]{
		background-image: var(--bgi-m);
	}

	[style*="--bgp-m:"]{
		background-position: var(--bgp-m);
	}

	[style*="--bga-m:"]{
		background-attachment: var(--bga-m);
	}

	[style*="--bgr-m:"]{
		background-repeat: var(--bgr-m);
	}

	[style*="--bgs-m:"]{
		background-size: var(--bgs-m);
	}

	[style*="--bgb-m:"]{
		background-blend-mode: var(--bgb-m);
	}

	[style*="--tf-m:"]{
		transform: var(--tf-m);
	}

	[style*="--tr-m:"]{
		transition: var(--tr-m);
	}

	[style*="--msk-m:"]{
		-webkit-mask: var(--msk-m);
		mask: var(--msk-m);
	}

	[style*="--mki-m:"]{
		-webkit-mask-image: var(--mki-m);
		mask-image: var(--mki-m);
	}

	[style*="--mks-m:"]{
		-webkit-mask-size: var(--mks-m);
		mask-size: var(--mks-m);
	}

	[style*="--mkr-m:"]{
		-webkit-mask-repeat: var(--mkr-m);
		mask-repeat: var(--mkr-m);
	}

	[style*="--mco-m:"]{
		-webkit-mask-composite: var(--mco-m);
		mask-composite: var(--mco-m);
	}

	[style*="--cur-m:"]{
		cursor: var(--cur-m);
	}

	[style*="--pe-m:"]{
		pointer-events: var(--pe-m);
	}

	[style*="--mbm-m:"]{
		mix-blend-mode: var(--mbm-m);
	}

	[style*="--fil-m:"]{
		filter: var(--fil-m);
	}

	[style*="--bfil-m:"]{
		-webkit-backdrop-filter: var(--bfil-m);
		backdrop-filter: var(--bfil-m);
	}

	[style*="--obf-m:"]{
		object-fit: var(--obf-m);
	}

	[style*="--sst-m:"]{
		-ms-scroll-snap-type: var(--sst-m);
		scroll-snap-type: var(--sst-m);
	}

	[style*="--ssa-m:"]{
		scroll-snap-align: var(--ssa-m);
	}

	[style*="--scp-m:"]{
		scroll-padding: var(--scp-m);
	}

	[style*="--scm-m:"]{
		scroll-margin: var(--scm-m);
	}

	[style*="--sbw-m:"]{
		scrollbar-width: var(--sbw-m);
	}
}

@media (max-width: 575px) {
	[style*="--m-s:"]{
		margin: var(--m-s);
	}

	[style*="--p-s:"]{
		padding: var(--p-s);
	}

	[style*="--mbs-s:"]{
		-webkit-margin-before: var(--mbs-s);
		margin-block-start: var(--mbs-s);
	}

	[style*="--mbe-s:"]{
		-webkit-margin-after: var(--mbe-s);
		margin-block-end: var(--mbe-s);
	}

	[style*="--mis-s:"]{
		-webkit-margin-start: var(--mis-s);
		margin-inline-start: var(--mis-s);
	}

	[style*="--mie-s:"]{
		-webkit-margin-end: var(--mie-s);
		margin-inline-end: var(--mie-s);
	}

	[style*="--pbs-s:"]{
		-webkit-padding-before: var(--pbs-s);
		padding-block-start: var(--pbs-s);
	}

	[style*="--pbe-s:"]{
		-webkit-padding-after: var(--pbe-s);
		padding-block-end: var(--pbe-s);
	}

	[style*="--pis-s:"]{
		-webkit-padding-start: var(--pis-s);
		padding-inline-start: var(--pis-s);
	}

	[style*="--pie-s:"]{
		-webkit-padding-end: var(--pie-s);
		padding-inline-end: var(--pie-s);
	}

	[style*="--bor-s:"]{
		border: var(--bor-s);
	}

	[style*="--bw-s:"]{
		border-width: var(--bw-s);
	}

	[style*="--bs-s:"]{
		border-style: var(--bs-s);
	}

	[style*="--bc-s:"]{
		border-color: var(--bc-s);
	}

	[style*="--br-s:"]{
		border-radius: var(--br-s);
	}

	[style*="--bsh-s:"]{
		box-shadow: var(--bsh-s);
	}

	[style*="--ol-s:"]{
		outline: var(--ol-s);
	}

	[style*="--w-s:"]{
		width: var(--w-s);
	}

	[style*="--h-s:"]{
		height: var(--h-s);
	}

	[style*="--miw-s:"]{
		min-width: var(--miw-s);
	}

	[style*="--mih-s:"]{
		min-height: var(--mih-s);
	}

	[style*="--maw-s:"]{
		max-width: var(--maw-s);
	}

	[style*="--mah-s:"]{
		max-height: var(--mah-s);
	}

	[style*="--ar-s:"]{
		aspect-ratio: var(--ar-s);
	}

	[style*="--d-s:"]{
		display: var(--d-s);
	}

	[style*="--pos-s:"]{
		position: var(--pos-s);
	}

	[style*="--v-s:"]{
		visibility: var(--v-s);
	}

	[style*="--o-s:"]{
		opacity: var(--o-s);
	}

	[style*="--z-s:"]{
		z-index: var(--z-s);
	}

	[style*="--f-s:"]{
		float: var(--f-s);
	}

	[style*="--of-s:"]{
		overflow: var(--of-s);
	}

	[style*="--ox-s:"]{
		overflow-x: var(--ox-s);
	}

	[style*="--oy-s:"]{
		overflow-y: var(--oy-s);
	}

	[style*="--t-s:"]{
		top: var(--t-s);
	}

	[style*="--r-s:"]{
		right: var(--r-s);
	}

	[style*="--b-s:"]{
		bottom: var(--b-s);
	}

	[style*="--l-s:"]{
		left: var(--l-s);
	}

	[style*="--ibs-s:"]{
		inset-block-start: var(--ibs-s);
	}

	[style*="--ibe-s:"]{
		inset-block-end: var(--ibe-s);
	}

	[style*="--iis-s:"]{
		inset-inline-start: var(--iis-s);
	}

	[style*="--iie-s:"]{
		inset-inline-end: var(--iie-s);
	}

	[style*="--c-s:"]{
		color: var(--c-s);
	}

	[style*="--ta-s:"]{
		text-align: var(--ta-s);
	}

	[style*="--tt-s:"]{
		text-transform: var(--tt-s);
	}

	[style*="--td-s:"]{
		-webkit-text-decoration: var(--td-s);
		text-decoration: var(--td-s);
	}

	[style*="--fs-s:"]{
		font-size: var(--fs-s);
	}

	[style*="--ff-s:"]{
		font-family: var(--ff-s);
	}

	[style*="--fst-s:"]{
		font-style: var(--fst-s);
	}

	[style*="--fw-s:"]{
		font-weight: var(--fw-s);
	}

	[style*="--lh-s:"]{
		line-height: var(--lh-s);
	}

	[style*="--ls-s:"]{
		letter-spacing: var(--ls-s);
	}

	[style*="--ws-s:"]{
		white-space: var(--ws-s);
	}

	[style*="--wb-s:"]{
		word-break: var(--wb-s);
	}

	[style*="--ow-s:"]{
		overflow-wrap: var(--ow-s);
	}

	[style*="--to-s:"]{
		text-overflow: var(--to-s);
	}

	[style*="--dir-s:"]{
		direction: var(--dir-s);
	}

	[style*="--wm-s:"]{
		-ms-writing-mode: var(--wm-s);
		writing-mode: var(--wm-s);
	}

	[style*="--tor-s:"]{
		text-orientation: var(--tor-s);
	}

	[style*="--fl-s:"]{
		flex: var(--fl-s);
	}

	[style*="--fld-s:"]{
		flex-direction: var(--fld-s);
	}

	[style*="--flw-s:"]{
		flex-wrap: var(--flw-s);
	}

	[style*="--flg-s:"]{
		flex-grow: var(--flg-s);
	}

	[style*="--fls-s:"]{
		flex-shrink: var(--fls-s);
	}

	[style*="--flb-s:"]{
		flex-basis: var(--flb-s);
	}

	[style*="--or-s:"]{
		order: var(--or-s);
	}

	[style*="--jc-s:"]{
		justify-content: var(--jc-s);
	}

	[style*="--js-s:"]{
		justify-self: var(--js-s);
	}

	[style*="--ai-s:"]{
		align-items: var(--ai-s);
	}

	[style*="--ac-s:"]{
		align-content: var(--ac-s);
	}

	[style*="--as-s:"]{
		align-self: var(--as-s);
	}

	[style*="--g-s:"]{
		gap: var(--g-s);
	}

	[style*="--rg-s:"]{
		row-gap: var(--rg-s);
	}

	[style*="--cg-s:"]{
		column-gap: var(--cg-s);
	}

	[style*="--gtc-s:"]{
		grid-template-columns: var(--gtc-s);
	}

	[style*="--gtr-s:"]{
		grid-template-rows: var(--gtr-s);
	}

	[style*="--gta-s:"]{
		grid-template-areas: var(--gta-s);
	}

	[style*="--gac-s:"]{
		grid-auto-columns: var(--gac-s);
	}

	[style*="--gar-s:"]{
		grid-auto-rows: var(--gar-s);
	}

	[style*="--ji-s:"]{
		justify-items: var(--ji-s);
	}

	[style*="--gc-s:"]{
		grid-column: var(--gc-s);
	}

	[style*="--gr-s:"]{
		grid-row: var(--gr-s);
	}

	[style*="--ga-s:"]{
		grid-area: var(--ga-s);
	}

	[style*="--bg-s:"]{
		background: var(--bg-s);
	}

	[style*="--bgc-s:"]{
		background-color: var(--bgc-s);
	}

	[style*="--bgcl-s:"]{
		background-clip: var(--bgcl-s);
	}

	[style*="--bgi-s:"]{
		background-image: var(--bgi-s);
	}

	[style*="--bgp-s:"]{
		background-position: var(--bgp-s);
	}

	[style*="--bga-s:"]{
		background-attachment: var(--bga-s);
	}

	[style*="--bgr-s:"]{
		background-repeat: var(--bgr-s);
	}

	[style*="--bgs-s:"]{
		background-size: var(--bgs-s);
	}

	[style*="--bgb-s:"]{
		background-blend-mode: var(--bgb-s);
	}

	[style*="--tf-s:"]{
		transform: var(--tf-s);
	}

	[style*="--tr-s:"]{
		transition: var(--tr-s);
	}

	[style*="--msk-s:"]{
		-webkit-mask: var(--msk-s);
		mask: var(--msk-s);
	}

	[style*="--mki-s:"]{
		-webkit-mask-image: var(--mki-s);
		mask-image: var(--mki-s);
	}

	[style*="--mks-s:"]{
		-webkit-mask-size: var(--mks-s);
		mask-size: var(--mks-s);
	}

	[style*="--mkr-s:"]{
		-webkit-mask-repeat: var(--mkr-s);
		mask-repeat: var(--mkr-s);
	}

	[style*="--mco-s:"]{
		-webkit-mask-composite: var(--mco-s);
		mask-composite: var(--mco-s);
	}

	[style*="--cur-s:"]{
		cursor: var(--cur-s);
	}

	[style*="--pe-s:"]{
		pointer-events: var(--pe-s);
	}

	[style*="--mbm-s:"]{
		mix-blend-mode: var(--mbm-s);
	}

	[style*="--fil-s:"]{
		filter: var(--fil-s);
	}

	[style*="--bfil-s:"]{
		-webkit-backdrop-filter: var(--bfil-s);
		backdrop-filter: var(--bfil-s);
	}

	[style*="--obf-s:"]{
		object-fit: var(--obf-s);
	}

	[style*="--sst-s:"]{
		-ms-scroll-snap-type: var(--sst-s);
		scroll-snap-type: var(--sst-s);
	}

	[style*="--ssa-s:"]{
		scroll-snap-align: var(--ssa-s);
	}

	[style*="--scp-s:"]{
		scroll-padding: var(--scp-s);
	}

	[style*="--scm-s:"]{
		scroll-margin: var(--scm-s);
	}

	[style*="--sbw-s:"]{
		scrollbar-width: var(--sbw-s);
	}
}
/*states - not responsive CSS styles*/
[style*="--hov-c:"]:hover{
	color: var(--hov-c);
}

[style*="--hov-bc:"]:hover{
	border-color: var(--hov-bc);
}

[style*="--hov-bgc:"]:hover{
	background-color: var(--hov-bgc);
}

[style*="--hov-bs:"]:hover{
	box-shadow: var(--hov-bs);
}

[style*="--hov-ol:"]:hover{
	outline: var(--hov-ol);
}

[style*="--hov-o:"]:hover{
	opacity: var(--hov-o);
}

[style*="--hov-of:"]:hover{
	overflow: var(--hov-of);
}

[style*="--hov-w:"]:hover{
	width: var(--hov-w);
}

[style*="--hov-v:"]:hover{
	visibility: var(--hov-v);
}

[style*="--hov-t:"]:hover{
	top: var(--hov-t);
}

[style*="--hov-r:"]:hover{
	right: var(--hov-r);
}

[style*="--hov-b:"]:hover{
	bottom: var(--hov-b);
}

[style*="--hov-l:"]:hover{
	left: var(--hov-l);
}

[style*="--hov-d:"]:hover{
	display: var(--hov-d);
}

[style*="--hov-z:"]:hover{
	z-index: var(--hov-z);
}

[style*="--hov-tf:"]:hover{
	transform: var(--hov-tf);
}

[style*="--hov-td:"]:hover{
	-webkit-text-decoration: var(--hov-td);
	text-decoration: var(--hov-td);
}

*:hover > [style*="--p-hov-c:"]{
	color: var(--p-hov-c);
}

*:hover > [style*="--p-hov-bc:"]{
	border-color: var(--p-hov-bc);
}

*:hover > [style*="--p-hov-bgc:"]{
	background-color: var(--p-hov-bgc);
}

*:hover > [style*="--p-hov-o:"]{
	opacity: var(--p-hov-o);
}

*:hover > [style*="--p-hov-w:"]{
	width: var(--p-hov-w);
}

*:hover > [style*="--p-hov-mah:"]{
	max-height: var(--p-hov-mah);
}

*:hover > [style*="--p-hov-v:"]{
	visibility: var(--p-hov-v);
}

*:hover > [style*="--p-hov-t:"]{
	top: var(--p-hov-t);
}

*:hover > [style*="--p-hov-r:"]{
	right: var(--p-hov-r);
}

*:hover > [style*="--p-hov-b:"]{
	bottom: var(--p-hov-b);
}

*:hover > [style*="--p-hov-l:"]{
	left: var(--p-hov-l);
}

*:hover > [style*="--p-hov-d:"]{
	display: var(--p-hov-d);
}

*:hover > [style*="--p-hov-z:"]{
	z-index: var(--p-hov-z);
}

*:hover > [style*="--p-hov-tf:"]{
	transform: var(--p-hov-tf);
}

[style*="--foc-c:"]:focus{
	color: var(--foc-c);
}

[style*="--foc-bc:"]:focus{
	border-color: var(--foc-bc);
}

[style*="--foc-bgc:"]:focus{
	background-color: var(--foc-bgc);
}

[style*="--foc-bs:"]:focus{
	box-shadow: var(--foc-bs);
}

[style*="--foc-ol:"]:focus{
	outline: var(--foc-ol);
}

[style*="--foc-olo:"]:focus{
	outline-offset: var(--foc-olo);
}

[style*="--foc-o:"]:focus{
	opacity: var(--foc-o);
}

[style*="--foc-of:"]:focus{
	overflow: var(--foc-of);
}

[style*="--foc-w:"]:focus{
	width: var(--foc-w);
}

[style*="--foc-v:"]:focus{
	visibility: var(--foc-v);
}

[style*="--foc-t:"]:focus{
	top: var(--foc-t);
}

[style*="--foc-r:"]:focus{
	right: var(--foc-r);
}

[style*="--foc-b:"]:focus{
	bottom: var(--foc-b);
}

[style*="--foc-l:"]:focus{
	left: var(--foc-l);
}

[style*="--foc-d:"]:focus{
	display: var(--foc-d);
}

[style*="--foc-z:"]:focus{
	z-index: var(--foc-z);
}

[style*="--foc-tf:"]:focus{
	transform: var(--foc-tf);
}

[style*="--fwi-c:"]:focus-within{
	color: var(--fwi-c);
}

[style*="--fwi-bc:"]:focus-within{
	border-color: var(--fwi-bc);
}

[style*="--fwi-bgc:"]:focus-within{
	background-color: var(--fwi-bgc);
}

[style*="--fwi-bs:"]:focus-within{
	box-shadow: var(--fwi-bs);
}

[style*="--fwi-ol:"]:focus-within{
	outline: var(--fwi-ol);
}

[style*="--fwi-o:"]:focus-within{
	opacity: var(--fwi-o);
}

[style*="--fwi-of:"]:focus-within{
	overflow: var(--fwi-of);
}

[style*="--fwi-w:"]:focus-within{
	width: var(--fwi-w);
}

[style*="--fwi-v:"]:focus-within{
	visibility: var(--fwi-v);
}

[style*="--fwi-t:"]:focus-within{
	top: var(--fwi-t);
}

[style*="--fwi-r:"]:focus-within{
	right: var(--fwi-r);
}

[style*="--fwi-b:"]:focus-within{
	bottom: var(--fwi-b);
}

[style*="--fwi-l:"]:focus-within{
	left: var(--fwi-l);
}

[style*="--fwi-d:"]:focus-within{
	display: var(--fwi-d);
}

[style*="--fwi-z:"]:focus-within{
	z-index: var(--fwi-z);
}

[style*="--fwi-tf:"]:focus-within{
	transform: var(--fwi-tf);
}

*:focus-within > [style*="--p-fwi-c:"]{
	color: var(--p-fwi-c);
}

*:focus-within > [style*="--p-fwi-bc:"]{
	border-color: var(--p-fwi-bc);
}

*:focus-within > [style*="--p-fwi-bgc:"]{
	background-color: var(--p-fwi-bgc);
}

*:focus-within > [style*="--p-fwi-bs:"]{
	box-shadow: var(--p-fwi-bs);
}

*:focus-within > [style*="--p-fwi-ol:"]{
	outline: var(--p-fwi-ol);
}

*:focus-within > [style*="--p-fwi-o:"]{
	opacity: var(--p-fwi-o);
}

*:focus-within > [style*="--p-fwi-of:"]{
	overflow: var(--p-fwi-of);
}

*:focus-within > [style*="--p-fwi-w:"]{
	width: var(--p-fwi-w);
}

*:focus-within > [style*="--p-fwi-v:"]{
	visibility: var(--p-fwi-v);
}

*:focus-within > [style*="--p-fwi-t:"]{
	top: var(--p-fwi-t);
}

*:focus-within > [style*="--p-fwi-r:"]{
	right: var(--p-fwi-r);
}

*:focus-within > [style*="--p-fwi-b:"]{
	bottom: var(--p-fwi-b);
}

*:focus-within > [style*="--p-fwi-l:"]{
	left: var(--p-fwi-l);
}

*:focus-within > [style*="--p-fwi-d:"]{
	display: var(--p-fwi-d);
}

*:focus-within > [style*="--p-fwi-z:"]{
	z-index: var(--p-fwi-z);
}

*:focus-within > [style*="--p-fwi-tf:"]{
	transform: var(--p-fwi-tf);
}

*:focus ~ [style*="--s-foc-c:"]{
	color: var(--s-foc-c);
}

*:focus ~ [style*="--s-foc-bc:"]{
	border-color: var(--s-foc-bc);
}

*:focus ~ [style*="--s-foc-bgc:"]{
	background-color: var(--s-foc-bgc);
}

*:focus ~ [style*="--s-foc-bs:"]{
	box-shadow: var(--s-foc-bs);
}

*:focus ~ [style*="--s-foc-ol:"]{
	outline: var(--s-foc-ol);
}

*:focus ~ [style*="--s-foc-o:"]{
	opacity: var(--s-foc-o);
}

*:focus ~ [style*="--s-foc-of:"]{
	overflow: var(--s-foc-of);
}

*:focus ~ [style*="--s-foc-w:"]{
	width: var(--s-foc-w);
}

*:focus ~ [style*="--s-foc-v:"]{
	visibility: var(--s-foc-v);
}

*:focus ~ [style*="--s-foc-t:"]{
	top: var(--s-foc-t);
}

*:focus ~ [style*="--s-foc-r:"]{
	right: var(--s-foc-r);
}

*:focus ~ [style*="--s-foc-b:"]{
	bottom: var(--s-foc-b);
}

*:focus ~ [style*="--s-foc-l:"]{
	left: var(--s-foc-l);
}

*:focus ~ [style*="--s-foc-d:"]{
	display: var(--s-foc-d);
}

*:focus ~ [style*="--s-foc-z:"]{
	z-index: var(--s-foc-z);
}

*:focus ~ [style*="--s-foc-tf:"]{
	transform: var(--s-foc-tf);
}

[style*="--ch-c:"]:checked{
	color: var(--ch-c);
}

[style*="--ch-bc:"]:checked{
	border-color: var(--ch-bc);
}

[style*="--ch-bgc:"]:checked{
	background-color: var(--ch-bgc);
}

[style*="--ch-bs:"]:checked{
	box-shadow: var(--ch-bs);
}

[style*="--ch-ol:"]:checked{
	outline: var(--ch-ol);
}

[style*="--ch-o:"]:checked{
	opacity: var(--ch-o);
}

[style*="--ch-of:"]:checked{
	overflow: var(--ch-of);
}

[style*="--ch-w:"]:checked{
	width: var(--ch-w);
}

[style*="--ch-v:"]:checked{
	visibility: var(--ch-v);
}

[style*="--ch-t:"]:checked{
	top: var(--ch-t);
}

[style*="--ch-r:"]:checked{
	right: var(--ch-r);
}

[style*="--ch-b:"]:checked{
	bottom: var(--ch-b);
}

[style*="--ch-l:"]:checked{
	left: var(--ch-l);
}

[style*="--ch-d:"]:checked{
	display: var(--ch-d);
}

[style*="--ch-z:"]:checked{
	z-index: var(--ch-z);
}

[style*="--ch-tf:"]:checked{
	transform: var(--ch-tf);
}

*:checked ~ [style*="--s-ch-c:"]{
	color: var(--s-ch-c);
}

*:checked ~ [style*="--s-ch-bc:"]{
	border-color: var(--s-ch-bc);
}

*:checked ~ [style*="--s-ch-bgc:"]{
	background-color: var(--s-ch-bgc);
}

*:checked ~ [style*="--s-ch-bs:"]{
	box-shadow: var(--s-ch-bs);
}

*:checked ~ [style*="--s-ch-ol:"]{
	outline: var(--s-ch-ol);
}

*:checked ~ [style*="--s-ch-o:"]{
	opacity: var(--s-ch-o);
}

*:checked ~ [style*="--s-ch-of:"]{
	overflow: var(--s-ch-of);
}

*:checked ~ [style*="--s-ch-w:"]{
	width: var(--s-ch-w);
}

*:checked ~ [style*="--s-ch-v:"]{
	visibility: var(--s-ch-v);
}

*:checked ~ [style*="--s-ch-t:"]{
	top: var(--s-ch-t);
}

*:checked ~ [style*="--s-ch-r:"]{
	right: var(--s-ch-r);
}

*:checked ~ [style*="--s-ch-b:"]{
	bottom: var(--s-ch-b);
}

*:checked ~ [style*="--s-ch-l:"]{
	left: var(--s-ch-l);
}

*:checked ~ [style*="--s-ch-d:"]{
	display: var(--s-ch-d);
}

*:checked ~ [style*="--s-ch-z:"]{
	z-index: var(--s-ch-z);
}

*:checked ~ [style*="--s-ch-tf:"]{
	transform: var(--s-ch-tf);
}

[style*="--nps-c:"]:not(:-ms-input-placeholder){
	color: var(--nps-c);
}

[style*="--nps-c:"]:not(:placeholder-shown){
	color: var(--nps-c);
}

[style*="--nps-bc:"]:not(:-ms-input-placeholder){
	border-color: var(--nps-bc);
}

[style*="--nps-bc:"]:not(:placeholder-shown){
	border-color: var(--nps-bc);
}

[style*="--nps-bgc:"]:not(:-ms-input-placeholder){
	background-color: var(--nps-bgc);
}

[style*="--nps-bgc:"]:not(:placeholder-shown){
	background-color: var(--nps-bgc);
}

[style*="--nps-bs:"]:not(:-ms-input-placeholder){
	box-shadow: var(--nps-bs);
}

[style*="--nps-bs:"]:not(:placeholder-shown){
	box-shadow: var(--nps-bs);
}

[style*="--nps-ol:"]:not(:-ms-input-placeholder){
	outline: var(--nps-ol);
}

[style*="--nps-ol:"]:not(:placeholder-shown){
	outline: var(--nps-ol);
}

[style*="--nps-o:"]:not(:-ms-input-placeholder){
	opacity: var(--nps-o);
}

[style*="--nps-o:"]:not(:placeholder-shown){
	opacity: var(--nps-o);
}

[style*="--nps-of:"]:not(:-ms-input-placeholder){
	overflow: var(--nps-of);
}

[style*="--nps-of:"]:not(:placeholder-shown){
	overflow: var(--nps-of);
}

[style*="--nps-w:"]:not(:-ms-input-placeholder){
	width: var(--nps-w);
}

[style*="--nps-w:"]:not(:placeholder-shown){
	width: var(--nps-w);
}

[style*="--nps-v:"]:not(:-ms-input-placeholder){
	visibility: var(--nps-v);
}

[style*="--nps-v:"]:not(:placeholder-shown){
	visibility: var(--nps-v);
}

[style*="--nps-t:"]:not(:-ms-input-placeholder){
	top: var(--nps-t);
}

[style*="--nps-t:"]:not(:placeholder-shown){
	top: var(--nps-t);
}

[style*="--nps-r:"]:not(:-ms-input-placeholder){
	right: var(--nps-r);
}

[style*="--nps-r:"]:not(:placeholder-shown){
	right: var(--nps-r);
}

[style*="--nps-b:"]:not(:-ms-input-placeholder){
	bottom: var(--nps-b);
}

[style*="--nps-b:"]:not(:placeholder-shown){
	bottom: var(--nps-b);
}

[style*="--nps-l:"]:not(:-ms-input-placeholder){
	left: var(--nps-l);
}

[style*="--nps-l:"]:not(:placeholder-shown){
	left: var(--nps-l);
}

[style*="--nps-d:"]:not(:-ms-input-placeholder){
	display: var(--nps-d);
}

[style*="--nps-d:"]:not(:placeholder-shown){
	display: var(--nps-d);
}

[style*="--nps-z:"]:not(:-ms-input-placeholder){
	z-index: var(--nps-z);
}

[style*="--nps-z:"]:not(:placeholder-shown){
	z-index: var(--nps-z);
}

[style*="--nps-tf:"]:not(:-ms-input-placeholder){
	transform: var(--nps-tf);
}

[style*="--nps-tf:"]:not(:placeholder-shown){
	transform: var(--nps-tf);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-c:"]{
	color: var(--s-nps-c);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-c:"]{
	color: var(--s-nps-c);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-bc:"]{
	border-color: var(--s-nps-bc);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-bc:"]{
	border-color: var(--s-nps-bc);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-bgc:"]{
	background-color: var(--s-nps-bgc);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-bgc:"]{
	background-color: var(--s-nps-bgc);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-bs:"]{
	box-shadow: var(--s-nps-bs);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-bs:"]{
	box-shadow: var(--s-nps-bs);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-ol:"]{
	outline: var(--s-nps-ol);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-ol:"]{
	outline: var(--s-nps-ol);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-o:"]{
	opacity: var(--s-nps-o);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-o:"]{
	opacity: var(--s-nps-o);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-of:"]{
	overflow: var(--s-nps-of);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-of:"]{
	overflow: var(--s-nps-of);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-w:"]{
	width: var(--s-nps-w);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-w:"]{
	width: var(--s-nps-w);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-v:"]{
	visibility: var(--s-nps-v);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-v:"]{
	visibility: var(--s-nps-v);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-t:"]{
	top: var(--s-nps-t);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-t:"]{
	top: var(--s-nps-t);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-r:"]{
	right: var(--s-nps-r);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-r:"]{
	right: var(--s-nps-r);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-b:"]{
	bottom: var(--s-nps-b);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-b:"]{
	bottom: var(--s-nps-b);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-l:"]{
	left: var(--s-nps-l);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-l:"]{
	left: var(--s-nps-l);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-d:"]{
	display: var(--s-nps-d);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-d:"]{
	display: var(--s-nps-d);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-z:"]{
	z-index: var(--s-nps-z);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-z:"]{
	z-index: var(--s-nps-z);
}

:where(input, textarea):not(:-ms-input-placeholder) ~ [style*="--s-nps-tf:"]{
	transform: var(--s-nps-tf);
}

:where(input, textarea):not(:placeholder-shown) ~ [style*="--s-nps-tf:"]{
	transform: var(--s-nps-tf);
}

/* custom .active CSS class - .vz */
[style*="--vz-c:"].vz{
	color: var(--vz-c);
}

[style*="--vz-bc:"].vz{
	border-color: var(--vz-bc);
}

[style*="--vz-bgc:"].vz{
	background-color: var(--vz-bgc);
}

[style*="--vz-bs:"].vz{
	box-shadow: var(--vz-bs);
}

[style*="--vz-ol:"].vz{
	outline: var(--vz-ol);
}

[style*="--vz-o:"].vz{
	opacity: var(--vz-o);
}

[style*="--vz-of:"].vz{
	overflow: var(--vz-of);
}

[style*="--vz-w:"].vz{
	width: var(--vz-w);
}

[style*="--vz-v:"].vz{
	visibility: var(--vz-v);
}

[style*="--vz-t:"].vz{
	top: var(--vz-t);
}

[style*="--vz-r:"].vz{
	right: var(--vz-r);
}

[style*="--vz-b:"].vz{
	bottom: var(--vz-b);
}

[style*="--vz-l:"].vz{
	left: var(--vz-l);
}

[style*="--vz-d:"].vz{
	display: var(--vz-d);
}

[style*="--vz-z:"].vz{
	z-index: var(--vz-z);
}

[style*="--vz-tf:"].vz{
	transform: var(--vz-tf);
}

[style*="--vz-td:"].vz{
	-webkit-text-decoration: var(--vz-td);
	text-decoration: var(--vz-td);
}

[style*="--vz-cur:"].vz{
	cursor: var(--vz-cur);
}

.vz > [style*="--p-vz-c:"]{
	color: var(--p-vz-c);
}

.vz > [style*="--p-vz-bc:"]{
	border-color: var(--p-vz-bc);
}

.vz > [style*="--p-vz-bgc:"]{
	background-color: var(--p-vz-bgc);
}

.vz > [style*="--p-vz-o:"]{
	opacity: var(--p-vz-o);
}

.vz > [style*="--p-vz-h:"]{
	height: var(--p-vz-h);
}

.vz > [style*="--p-vz-w:"]{
	width: var(--p-vz-w);
}

.vz > [style*="--p-vz-mah:"]{
	max-height: var(--p-vz-mah);
}

.vz > [style*="--p-vz-v:"]{
	visibility: var(--p-vz-v);
}

.vz > [style*="--p-vz-t:"]{
	top: var(--p-vz-t);
}

.vz > [style*="--p-vz-r:"]{
	right: var(--p-vz-r);
}

.vz > [style*="--p-vz-b:"]{
	bottom: var(--p-vz-b);
}

.vz > [style*="--p-vz-l:"]{
	left: var(--p-vz-l);
}

.vz > [style*="--p-vz-d:"]{
	display: var(--p-vz-d);
}

.vz > [style*="--p-vz-z:"]{
	z-index: var(--p-vz-z);
}

.vz > [style*="--p-vz-tf:"]{
	transform: var(--p-vz-tf);
}

.vz > * > [style*="--a-vz-c:"]{
	color: var(--a-vz-c);
}

.vz > * > [style*="--a-vz-bc:"]{
	border-color: var(--a-vz-bc);
}

.vz > * > [style*="--a-vz-bgc:"]{
	background-color: var(--a-vz-bgc);
}

.vz > * > [style*="--a-vz-o:"]{
	opacity: var(--a-vz-o);
}

.vz > * > [style*="--a-vz-h:"]{
	height: var(--a-vz-h);
}

.vz > * > [style*="--a-vz-w:"]{
	width: var(--a-vz-w);
}

.vz > * > [style*="--a-vz-mah:"]{
	max-height: var(--a-vz-mah);
}

.vz > * > [style*="--a-vz-v:"]{
	visibility: var(--a-vz-v);
}

.vz > * > [style*="--a-vz-t:"]{
	top: var(--a-vz-t);
}

.vz > * > [style*="--a-vz-r:"]{
	right: var(--a-vz-r);
}

.vz > * > [style*="--a-vz-b:"]{
	bottom: var(--a-vz-b);
}

.vz > * > [style*="--a-vz-l:"]{
	left: var(--a-vz-l);
}

.vz > * > [style*="--a-vz-d:"]{
	display: var(--a-vz-d);
}

.vz > * > [style*="--a-vz-z:"]{
	z-index: var(--a-vz-z);
}

.vz > * > [style*="--a-vz-tf:"]{
	transform: var(--a-vz-tf);
}